<div class="row mt-5 mb-5 justify-content-center">
    <div class="col-12 col-md-8">
        <nav class="navbar text-center">
            <a class="nav-link active" aria-current="page" href="/Admin/Index">
                <i class="fas fa-chart-pie fa-4x"></i><br />
                รายงาน
            </a>
            @* <a class="nav-link" href="#">Features</a>
                <a class="nav-link" href="#">Pricing</a> *@
        </nav>
    </div>
</div>