@using Microsoft.AspNetCore.Identity
@using miniproject.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var FullWidth = ViewData["fullwidth"];
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Studio Learning</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/miniproject.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/fontawesome-free-5.15.4-web/css/all.css" />
    @await RenderSectionAsync("HeadScripts", required: false)
</head>

<body>
    <header>
        <nav
            class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow@(FullWidth == null ? " mb-3":"")">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="fab fa-leanpub logo-icon"></i>
                    Studio Learning
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @* <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                            <i class="fas fa-home"></i>
                            Home
                            </a>
                            </li> *@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Course" asp-action="Index">
                                C
                                <i class="fas fa-play-circle text-info"></i>
                                urse
                            </a>
                        </li>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Order" asp-action="MyCourse">
                                    คอร์สของฉัน
                                </a>
                            </li>
                        }
                        @if (SignInManager.IsSignedIn(User) && User.IsInRole(Roles.Admin.ToString()))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Admin" asp-action="Index">
                                    <i class="fas fa-laptop-code"></i>
                                    CPanel
                                </a>
                            </li>
                        }
                    </ul>
                    @* <ul class="navbar-nav me-auto">
                        </ul> *@
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    @{
        if (FullWidth != null)
        {
            <main role="main">
                @RenderBody()
            </main>
        }
        else
        {
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        }
    }

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row">
                <div class="col">
                    &copy; 2021 - Studio Learning
                </div>
                <div class="col text-end">
                    <a class="link-secondary text-decoration-none" class="" asp-area="" asp-controller="Home"
                        asp-action="Privacy">
                        Privacy
                    </a>
                    |
                    <a class="link-secondary text-decoration-none" asp-controller="Home" asp-action="Term">
                        Term of use
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <!-- Start of HubSpot Embed Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/21208371.js"></script>
    <!-- End of HubSpot Embed Code -->
</body>

</html>
