@using miniproject.Models.Contentful
@using Contentful.Core.Images

@model Teacher

@{
    Teacher teacher = Model;
    var imageUrl = teacher?.image?.File.Url;
    var imageUrlBuilder =
    ImageUrlBuilder.New().SetWidth(250).SetHeight(250).SetResizingBehaviour(ImageResizeBehaviour.Fill);
    var teacherUrl = $"{imageUrl}{imageUrlBuilder.Build()}";
}

<div class="col-lg-4">
    <div class="team-member">
        <img class="mx-auto rounded-circle" src="@(teacherUrl)" alt="teacher" />
        <h4>
            <a class="link text-dark text-decoration-none" asp-area="" asp-controller="Course" asp-action="Teacher"
                asp-route-id="@(teacher.teacherId)">
                @(teacher.teacherName)
            </a>
        </h4>
        <p class="text-muted">@(teacher.position)</p>
        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
    </div>
</div>