@{
    ViewData["Title"] = "Contact me.";
}

<h1>Contact Me</h1>
<h2>
    <a href="tel:+66812868768" class="text-decoration-none">
        <i class="fas fa-phone"></i>
        0812868768</a>
</h2>
<h2>
    <a href="mailto:info@studiolearning.online" class="text-decoration-none">
        <i class="fas fa-envelope"></i>
        info@@studiolearning.online</a>
</h2>
<div class="row">
    <div class="col text-end">
        <img src="/img/student_contact.png" style="max-height: 200px; transform: scaleX(-1);" />
    </div>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
