<ul class="nav justify-content-center text-center">
    <li class="nav-item">
        <a class="nav-link active" href="/Order/MyCourse">
            <i class="fab fa-leanpub fa-4x"></i><br />
            คอร์สเรียน
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Order/MyOrder">
            <i class="far fa-file fa-4x"></i><br />
            รายการซื้อ
        </a>
    </li>
</ul>