@{
    ViewData["Title"] = "Privacy Policy";
}
<h1><i class="fas fa-user-shield text-secondary"></i> @ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p style="text-indent: 2rem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis distinctio amet hic totam
    perferendis, animi veniam
    quasi tenetur voluptates eaque quos ipsum, accusantium sint facilis quidem dolores consectetur aliquid fuga! Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Accusamus, repudiandae! Adipisci corrupti laboriosam explicabo
    atque. Deserunt ea, dignissimos illum, voluptas blanditiis architecto unde expedita nobis accusantium necessitatibus
    delectus nam velit.</p>


<div class="p-5">
    <hr />
</div>

<h1><i class="fas fa-cookie text-secondary"></i> Cookie</h1>

<p>Use this page to detail your site's cookie policy.</p>
<p style="text-indent: 2rem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis distinctio amet hic totam
    perferendis, animi veniam
    quasi tenetur voluptates eaque quos ipsum, accusantium sint facilis quidem dolores consectetur aliquid fuga! Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Accusamus, repudiandae! Adipisci corrupti laboriosam explicabo
    atque. Deserunt ea, dignissimos illum, voluptas blanditiis architecto unde expedita nobis accusantium necessitatibus
    delectus nam velit.</p>
