@{
    ViewData["Title"] = "Term Of Use";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's term of use.</p>
<p style="text-indent: 2rem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis distinctio amet hic totam
    perferendis, animi veniam
    quasi tenetur voluptates eaque quos ipsum, accusantium sint facilis quidem dolores consectetur aliquid fuga! Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Accusamus, repudiandae! Adipisci corrupti laboriosam explicabo
    atque. Deserunt ea, dignissimos illum, voluptas blanditiis architecto unde expedita nobis accusantium necessitatibus
    delectus nam velit.</p>
